$desktop-bp: var(--bp-desktop);
$tablet-bp: var(--bp-tablet);

$reg-font: var(--16px);
$sm-font: var(--14px);

$white-clr: var(--white-clr);
$primary-clr: var(--primary-clr);
$dark-clr: var(--dark-clr);
